.heading{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary);
    gap: .4rem;
    font-size: 4.2rem;
}



.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
    
}





