.input{

  background: transparent;
  border: none;
  text-align: center;
  border: 0.2rem solid transparent;
  font-size: 1.8rem;
  padding: 0.8rem;
  
  color: var(--text-default);
  outline: none;
  border-bottom: 0.2rem solid var(--primary);
  transition: all 0.1s ease-in-out;


}

.input:focus{
  
  border-radius: 0.8rem;
  border: 0.2rem solid var(--primary);
}

.input::placeholder{
  color: var(--gray-500);
  font-size: 1.4rem;
  font-style: italic;
}

.input:disabled{
  border-bottom: 0.2rem solid var(--disabled);
  opacity: 0.6;
}
