.button{
  border: none;
  background: var(--primary);
  color: var(--text-over-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24rem;
  border-radius: 0.8rem;
  margin: 4.8rem 0;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  padding: 10px 4px;
}

.button svg{
  width: 3.2rem;
  height: 3.2rem;

}

.button:hover{
  filter:brightness(0.8)
}

.green{
  background: var(--primary);
  color: var(--text-over-primary);
}

.red{
  background: var(--error);
  color: var(--text-over-error);
}